In [ ]:
-- Select the count of each level of priority
SELECT priority, count(*)
  from evanston311
 group by priority;

In [ ]:
-- Find values of zip that appear in at least 100 rows
-- Also get the count of each value
SELECT distinct(zip), count(*)
  FROM evanston311
 GROUP BY zip
HAVING count(*)>100;

In [ ]:
-- Find values of source that appear in at least 100 rows
-- Also get the count of each value
SELECT distinct(source), count(*)
  FROM evanston311
 group by source
having count(*)>100;

In [ ]:
-- Find the 5 most common values of street and the count of each
SELECT distinct(street), count(*)
  FROM evanston311
 group by street
 order by count(*) desc
 limit 5;

In [ ]:
SELECT distinct street,
       -- Trim off unwanted characters from street
       trim(street, '0123456789 #/.') AS cleaned_street
  FROM evanston311
 ORDER BY street;

In [ ]:
-- Count rows
SELECT count(*)
  FROM evanston311
 -- Where description includes trash or garbage
 WHERE description ilike '%trash%'
    or description ilike '%garbage%';

In [ ]:
-- Select categories containing Trash or Garbage
SELECT category
  FROM evanston311
 -- Use LIKE
 WHERE category like '%Trash%'
    or category like '%Garbage%';

In [ ]:
-- Count rows
SELECT count(*)
  FROM evanston311 
 -- description contains trash or garbage (any case)
 WHERE (description ilike '%trash%'
    OR description ilike '%garbage%') 
 -- category does not contain Trash or Garbage
   AND category NOT LIKE '%Trash%'
   AND category NOT LIKE '%Garbage%';

In [ ]:
-- Count rows with each category
SELECT category, count(*)
  FROM evanston311 
 WHERE (description ILIKE '%trash%'
    OR description ILIKE '%garbage%') 
   AND category NOT LIKE '%Trash%'
   AND category NOT LIKE '%Garbage%'
 -- What are you counting?
 GROUP BY category
 --- order by most frequent values
 ORDER BY count(*) desc
 LIMIT 10;

In [ ]:
-- Concatenate house_num, a space, and street
-- and trim spaces from the start of the result
SELECT trim(concat(house_num, ' ', street)) AS address
  FROM evanston311;

In [ ]:
-- Select the first word of the street value
SELECT split_part(street, ' ', 1) AS street_name, 
       count(*)
  FROM evanston311
 GROUP BY street_name
 ORDER BY count DESC
 LIMIT 20;

In [ ]:
-- Select the first 50 chars when length is greater than 50
SELECT CASE WHEN length(description) > 50
            THEN left(description, 50) || '...'
       -- otherwise just select description
       ELSE description
       END
  FROM evanston311
 -- limit to descriptions that start with the word I
 WHERE description LIKE 'I %'
 ORDER BY description;