In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
telco = pd.read_csv('mytable_customer_details - 1_CustDetails.csv', index_col=0)

In [3]:
telco.head()

,gender,is_senior_citizen,partner,dependents,partner_dependents,service_type,phone_service,phone_service_description,internet_service,internet_service_description,...,total_charges,tenure_charges,validate_tenure,churn,tenure_months,start_date,is_female,has_churned,has_phone,has_internet
customer_id,,,,,,,,,,,,,,,,,,,,,
0002-ORFBO,Female,0,Yes,Yes,3,3,1,One Line,1,DSL,...,$593.30,$590.40,False,No,9,11/20/2019,True,False,True,True
0003-MKNFE,Male,0,No,No,0,3,2,Two or More Lines,1,DSL,...,$542.40,$539.10,False,No,9,11/20/2019,False,False,True,True
0004-TLHLJ,Male,0,No,No,0,3,1,One Line,2,Fiber Optic,...,$280.85,$295.60,False,Yes,4,4/20/2020,False,True,True,True
0011-IGKFF,Male,1,Yes,No,1,3,1,One Line,2,Fiber Optic,...,"$1,237.85","$1,274.00",False,Yes,13,7/20/2019,False,True,True,True
0013-EXCHZ,Female,1,Yes,No,1,3,1,One Line,2,Fiber Optic,...,$267.40,$251.70,False,Yes,3,5/20/2020,True,True,True,True

In [ ]:
# notes
# partner_dependents: 0 = single, 1=spouse, 2=kids, 3=family
# service_type: 1=only phone, 2=only internet, 3=both
# churn: No or False = still customer, Yes or True = no longer customer

In [5]:
telco.describe()

,is_senior_citizen,partner_dependents,service_type,phone_service,internet_service,contract_type,tenure_months
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,0.162147,1.082209,2.469828,1.325004,1.222916,0.690473,32.368309
std,0.368612,1.226274,0.826150,0.642730,0.778877,0.833755,24.597021
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,2.000000,1.000000,1.000000,0.000000,9.000000
50%,0.000000,1.000000,3.000000,1.000000,1.000000,0.000000,29.000000
75%,0.000000,2.000000,3.000000,2.000000,2.000000,1.000000,55.000000
max,1.000000,3.000000,3.000000,2.000000,2.000000,2.000000,79.000000

In [22]:
seniors = telco.groupby(['is_senior_citizen', 'service_type', 'partner_dependents']).count()
seniors

                                                   gender  partner  \
is_senior_citizen service_type partner_dependents
0                 1            0                      646      646
                               1                      188      188
                               2                      117      117
                               3                      523      523
                  2            0                      274      274
                               1                      107      107
                               2                       44       44
                               3                      153      153
                  3            0                     1799     1799
                               1                      868      868
                               2                      192      192
                               3                      990      990
1                 1            0                       25       25
                               1                       24       24
                               3                        3        3
                  2            0                       53       53
                               1                       42       42
                               3                        9        9
                  3            0                      483      483
                               1                      424      424
                               2                        8        8
                               3                       71       71

                                                   dependents  phone_service  \
is_senior_citizen service_type partner_dependents
0                 1            0                          646            646
                               1                          188            188
                               2                          117            117
                               3                          523            523
                  2            0                          274            274
                               1                          107            107
                               2                           44             44
                               3                          153            153
                  3            0                         1799           1799
                               1                          868            868
                               2                          192            192
                               3                          990            990
1                 1            0                           25             25
                               1                           24             24
                               3                            3              3
                  2            0                           53             53
                               1                           42             42
                               3                            9              9
                  3            0                          483            483
                               1                          424            424
                               2                            8              8
                               3                           71             71

                                                   phone_service_description  \
is_senior_citizen service_type partner_dependents
0                 1            0                                         646
                               1                                         188
                               2                                         117
                               3                                         523
                  2            0                                         274
                               1                                         107
                               2                                          44
                               3                                         153
                  3            0                                        1799
                               1                                         868
                               2                                         192
                               3                                         990
1                 1            0                                          25
                               1                                          24
                               3                                           3
                  2            0                                          53
                               1                                          42
                               3                                           9
                  3            0                                         483
                               1                                         424
                               2                                           8
                               3                                          71

                                                   internet_service  \
is_senior_citizen service_type partner_dependents
0                 1            0                                646
                               1                                188
                               2                                117
                               3                                523
                  2            0                                274
                               1                                107
                               2                                 44
                               3                                153
                  3            0                               1799
                               1                                868
                               2                                192
                               3                                990
1                 1            0                                 25
                               1                                 24
                               3                                  3
                  2            0                                 53
                               1                                 42
                               3                                  9
                  3            0                                483
                               1                                424
                               2                                  8
                               3                                 71

                                                   internet_service_description  \
is_senior_citizen service_type partner_dependents
0                 1            0                                            646
                               1                                            188
                               2                                            117
                               3                                            523
                  2            0                                            274
                               1                                            107
                               2                                             44
                               3                                            153
                  3            0                                           1799
                               1                                            868
                               2                                            192
                               3                                            990
1                 1            0                                             25
                               1                                             24
                               3                                              3
                  2            0                                             53
                               1                                             42
                               3                                              9
                  3            0                                            483
                               1                                            424
                               2                                              8
                               3                                             71

                                                   contract_type  \
is_senior_citizen service_type partner_dependents
0                 1            0                             646
                               1                             188
                               2                             117
                               3                             523
                  2            0                             274
                               1                             107
                               2                              44
                               3                             153
                  3            0                            1799
                               1                             868
                               2                             192
                               3                             990
1                 1            0                              25
                               1                              24
                               3                               3
                  2            0                              53
                               1                              42
                               3                               9
                  3            0                             483
                               1                             424
                               2                               8
                               3                              71

                                                   contract_description  \
is_senior_citizen service_type partner_dependents
0                 1            0                                    646
                               1                                    188
                               2                                    117
                               3                                    523
                  2            0                                    274
                               1                                    107
                               2                                     44
                               3                                    153
                  3            0                                   1799
                               1                                    868
                               2                                    192
                               3                                    990
1                 1            0                                     25
                               1                                     24
                               3                                      3
                  2            0                                     53
                               1                                     42
                               3                                      9
                  3            0                                    483
                               1                                    424
                               2                                      8
                               3                                     71

                                                   payment_type  ...  \
is_senior_citizen service_type partner_dependents                ...
0                 1            0                            646  ...
                               1                            188  ...
                               2                            117  ...
                               3                            523  ...
                  2            0                            274  ...
                               1                            107  ...
                               2                             44  ...
                               3                            153  ...
                  3            0                           1799  ...
                               1                            868  ...
                               2                            192  ...
                               3                            990  ...
1                 1            0                             25  ...
                               1                             24  ...
                               3                              3  ...
                  2            0                             53  ...
                               1                             42  ...
                               3                              9  ...
                  3            0                            483  ...
                               1                            424  ...
                               2                              8  ...
                               3                             71  ...

                                                   total_charges  \
is_senior_citizen service_type partner_dependents
0                 1            0                             646
                               1                             188
                               2                             116
                               3                             518
                  2            0                             274
                               1                             107
                               2                              44
                               3                             151
                  3            0                            1799
                               1                             868
                               2                             191
                               3                             988
1                 1            0                              25
                               1                              24
                               3                               3
                  2            0                              53
                               1                              42
                               3                               9
                  3            0                             483
                               1                             424
                               2                               8
                               3                              71

                                                   tenure_charges  \
is_senior_citizen service_type partner_dependents
0                 1            0                              646
                               1                              188
                               2                              117
                               3                              523
                  2            0                              274
                               1                              107
                               2                               44
                               3                              153
                  3            0                             1799
                               1                              868
                               2                              192
                               3                              990
1                 1            0                               25
                               1                               24
                               3                                3
                  2            0                               53
                               1                               42
                               3                                9
                  3            0                              483
                               1                              424
                               2                                8
                               3                               71

                                                   validate_tenure  churn  \
is_senior_citizen service_type partner_dependents
0                 1            0                               646    646
                               1                               188    188
                               2                               117    117
                               3                               523    523
                  2            0                               274    274
                               1                               107    107
                               2                                44     44
                               3                               153    153
                  3            0                              1799   1799
                               1                               868    868
                               2                               192    192
                               3                               990    990
1                 1            0                                25     25
                               1                                24     24
                               3                                 3      3
                  2            0                                53     53
                               1                                42     42
                               3                                 9      9
                  3            0                               483    483
                               1                               424    424
                               2                                 8      8
                               3                                71     71

                                                   tenure_months  start_date  \
is_senior_citizen service_type partner_dependents
0                 1            0                             646         646
                               1                             188         188
                               2                             117         117
                               3                             523         523
                  2            0                             274         274
                               1                             107         107
                               2                              44          44
                               3                             153         153
                  3            0                            1799        1799
                               1                             868         868
                               2                             192         192
                               3                             990         990
1                 1            0                              25          25
                               1                              24          24
                               3                               3           3
                  2            0                              53          53
                               1                              42          42

In [21]:
# student_df.groupby(['Gender', 'Handed']).size()
# sns.relplot(x='total_bill', y='tip', data=tips)
# student_df.groupby(['Gender', 'Handed']).Ageyears.agg(['mean', 'median'])
# student_df.groupby(['Gender', 'Handed']).agg({'Ageyears': 'mean', 'Text_Messages_Sent_Yesterday': 'median'})
seniors_churn = telco.groupby(['is_senior_citizen', 'service_type', 'partner_dependents']).agg({'tenure_months': 'mean', 'has_churned': 'count'})
seniors_churn

                                                   tenure_months  has_churned
is_senior_citizen service_type partner_dependents
0                 1            0                       21.496904          646
                               1                       45.377660          188
                               2                       24.222222          117
                               3                       36.822180          523
                  2            0                       24.748175          274
                               1                       40.299065          107
                               2                       23.613636           44
                               3                       40.849673          153
                  3            0                       23.175653         1799
                               1                       43.711982          868
                               2                       23.739583          192
                               3                       43.325253          990
1                 1            0                       33.160000           25
                               1                       46.125000           24
                               3                       64.666667            3
                  2            0                       24.415094           53
                               1                       39.357143           42
                               3                       35.111111            9
                  3            0                       24.701863          483
                               1                       40.370283          424
                               2                       22.250000            8
                               3                       47.521127           71